h1, h2, h3, h4, h5 {
    letter-spacing: 2px;
    color: midnightblue;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 40px;
}

p {
    color: midnightblue;
    letter-spacing: 2px;
    font-size: 18px;
}

.story {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: midnightblue;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: red;
}

a {
    text-transform: uppercase;
}

body {
    width: 90%;
    margin: auto;
    background-image: linear-gradient(#0d7515, #c88f2a);
    color: midnightblue;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

blockquote {
    width: 50%;
    margin: 145px auto 80px auto;
    font-size: 160%;
    font-style: italic;
    color: midnightblue;
    background-color: gainsboro;
    border-left: 3px dashed;
    padding-left: 30px;
}

.Villager {
    border-left-color: red;
}

.Farmer {
    border-left-color: blue;
}

header > h5 {
    background-color: yellow;
}

.good {
    color: green;
    text-transform: capitalize;
}

.bad {
    color: red;
    text-transform: capitalize;
}

tr:nth-child(odd) {
    background: darkgrey;
}

tr:nth-child(even) {
    background: whitesmoke;
}

.story p:first-of-type  {
    font-weight: bold;
}

font-family: 'Raleway', sans-serif;